{% extends "base.html" %}

{% block title %}О компании - {{ company_global.name }}{% endblock %}

{% block content %}
        {% if company %}
        <div>
            <div>
                <div>
                    {% if company.main_logo %}
                        <div>
                            <img src="{{ company.main_logo.url }}" 
                                alt="Logo">
                        </div>
                    {% endif %}

                    <h1>
                        {{ company.name }}
                    </h1>

                    <p>
                        {{ company.description }}
                    </p>

                    <div>
                        <div>
                            <div>
                                <div>Наш адрес</div>
                                <div>{{ company.address }}</div>
                            </div>
                        </div>

                        <div>
                            <div>
                                <div>Электронная почта</div>
                                <div>{{ company.email }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <iframe 
                            src="{{ map_url }}" 
                            width="100%" 
                            height="100%" 
                            frameborder="0" 
                            allowfullscreen="true">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div>Информация о компании еще не добавлена.</div>
        {% endif %}
{% endblock %}