{% extends "base.html" %}

{% block title %}Контакты - {{ company_global.name }}{% endblock %}

{% block content %}
        <div>
            <h1>Наша команда</h1>
            <p>Свяжитесь с нашими специалистами для решения любого вопроса</p>
        </div>

        <div>
            {% for person in employees %}
            <div>
                <div>
                    {% if person.photo %}
                        <img src="{{ person.photo.url }}" alt="{{ person.name }}">
                    {% else %}
                        <div>
                            <i></i>
                        </div>
                    {% endif %}
                    
                    <div>
                        <h5>{{ person.name }}</h5>
                        <p>{{ person.position }}</p>
                        
                        <div>
                            <p>
                                <a href="tel:{{ person.phone }}">
                                    <i></i> {{ person.phone }}
                                </a>
                            </p>
                            <p>
                                <a href="mailto:{{ person.email }}">
                                    <i></i> {{ person.email }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div>
                <div>Список сотрудников временно пуст.</div>
            </div>
            {% endfor %}
        </div>

        <div>
            <h3>Общие контакты</h3>
            <div>
                <div>
                    <p><strong><i></i>Адрес:</strong> {{ company_global.address|default:"Не указан" }}</p>
                </div>
                <div>
                    <p><strong><i></i>Общий Email:</strong> {{ company_global.email|default:"info@parkingsystem.ru" }}</p>
                </div>
            </div>
        </div>
{% endblock %}