{% extends "base.html" %}

{% block title %}Новости - {{ company_global.name }}{% endblock %}

{% block content %}
<h1>Наши новости</h1>
        <div>
            
            {% for item in news_items %}
            <div>
                <div>
                    {% if item.image %}
                        <img src="{{ item.image.url }}" alt="{{ item.title }}">
                    {% else %}
                        <img src="https://via.placeholder.com/400x200?text=Нет+фото" alt="Нет фото">
                    {% endif %}
                    
                    <div>
                        <h5>{{ item.title }}</h5>
                        <p>{{ item.short_content }}</p>
                    </div>

                    <div>
                        <div>
                            <div>
                                <small>
                                    Опубликовано: {{ item.published_at_local|date:"d/m/Y H:i" }}
                                </small>
                                {% if item.created_at_local %}
                                <small>
                                    Создано: {{ item.created_at_local|date:"d/m/Y H:i" }}
                                </small>
                                {% endif %}
                                {% if item.updated_at_local %}
                                <small>
                                    Обновлено: {{ item.updated_at_local|date:"d/m/Y H:i" }}
                                </small>
                                {% endif %}
                            </div>
                            <a href="{% url 'news_detail' news_id=item.id %}">Читать далее →</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div>
                <div>Новостей пока нет.</div>
            </div>
            {% endfor %}

        </div>
{% endblock %}
