<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ news.title }} - Автопарковка</title>
</head>
<body>
    <div>
        <div>
            <div>
                <div>
                    <span>
                        <strong>User TZ:</strong> {{ tz_user }} 
                        <span>{{ date_local }} {{ time_local }}</span>
                    </span>
                    <span>
                        <strong>UTC:</strong> 
                        <span>{{ date_utc }} {{ time_utc }}</span>
                    </span>
                </div>

                <div>
                    <span>
                        <i>Последнее обновление данных:</i> 
                        <span>{{ last_data_update }}</span>
                    </span>
                    
                    <details>
                        <summary>📅 Календарь</summary>
                        <div>
                            <pre>{{ text_calendar_global }}</pre>
                        </div>
                    </details>
                </div>    
            </div>
        </div>
    </div>


    <header>
        <div>
            <a href="{% url 'news_list' %}">Назад к новостям</a>
        </div>
    </header>

    <div>
        <div>
            <div>
                <article>
                    {% if news.image %}
                        <img src="{{ news.image.url }}" alt="{{ news.title }}">
                    {% endif %}
                    <div>
                        <h1>{{ news.title }}</h1>
                        <hr>
                        <div>
                            {{ news.content }}
                        </div>
                        <div>
                        <div>
                            <div>
                                <h6>🕐 Ваш часовой пояс: {{ tz_user }}</h6>
                                <p>
                                    <strong>Опубликовано:</strong> {{ news.published_at_local|date:"d/m/Y H:i" }}<br>
                                    <strong>Создано:</strong> {{ news.created_at_local|date:"d/m/Y H:i" }}<br>
                                    <strong>Обновлено:</strong> {{ news.updated_at_local|date:"d/m/Y H:i" }}
                                </p>
                            </div>
                            <div>
                                <h6>🌍 Всемирное время (UTC)</h6>
                                <p>
                                    <strong>Опубликовано:</strong> {{ news.published_at_utc|date:"d/m/Y H:i" }}<br>
                                    <strong>Создано:</strong> {{ news.created_at_utc|date:"d/m/Y H:i" }}<br>
                                    <strong>Обновлено:</strong> {{ news.updated_at_utc|date:"d/m/Y H:i" }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="{% url 'news_list' %}">← Ко всем новостям</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</body>
</html>
