{% extends "base.html" %}

{% block title %}Вакансии - {{ company_global.name }}{% endblock %}

{% block content %}
        <div>
            <div>
                <h1>Работа в {{ company_global.name|default:"нашей компании" }}</h1>
                <p>Присоединяйтесь к команде профессионалов в сфере умных парковочных решений.</p>
            </div>
        </div>

        <div>
            {% for job in vacancies %}
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <h3>{{ job.title }}</h3>
                                <span>
                                    {% if job.salary %}{{ job.salary }}{% else %}З/П по результатам собеседования{% endif %}
                                </span>
                            </div>
                            <div>
                                <button>Откликнуться</button>
                            </div>
                        </div>

                        <div>
                            <div>
                                <h5><i></i>Описание позиции</h5>
                                <p>{{ job.description }}</p>
                            </div>
                            <div>
                                <h5><i></i>Требования</h5>
                                <p>{{ job.requirements }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div>
                <div>На данный момент открытых вакансий нет.</div>
            </div>
            {% endfor %}
        </div>
{% endblock %}